<app-header (changeRecipe)="recipes = $event"></app-header>

<app-content>
  <div class="content">
    <div *ngIf="recipes.length === 0">
      ¡No hay recetas, pulsa el botón para crear una!
    </div>
    <div *ngFor="let recipe of recipes; let i = index" class="card">
      <div class="card-header">
        <h5 class="card-header-title">{{recipe.title}}</h5>
        <mat-icon class="icon-delete" (click)="removeRecipe(recipe.id)">delete</mat-icon>
      </div>
      <img class="card-image" src="{{recipe.image}}">
      <div class="card-body">
        <div class="truncate">
          {{recipe.short_description}}
        </div>
      </div>
      <div class="card-footer">
        <button class="btn" mat-button [routerLink]="['/recipes', recipe.id]">Ver más</button>
      </div>
    </div>
  </div>
</app-content>
