<div class="dialog">
  <h1 mat-dialog-title class="dialog-title">Añadir receta</h1>
  <mat-dialog-content [formGroup]="formRecipe">

    <div *ngIf="imageBase64 !== null; else elseTemplate">
      <img [src]="imageBase64" class="dialog-image">
      <mat-icon class="icon-delete" (click)="deleteImage()">delete</mat-icon>
    </div>
    <ng-template #elseTemplate>
      <label for="fileInput" class="dialog-upload">
        <mat-icon class="icon-upload">file_upload</mat-icon>
      </label>
    </ng-template>

    <input formControlName="image"
           id="fileInput"
           accept="image/*"
           class="dialog-image-input"
           type="file"
           (change)="imageToBase64($event)">

    <mat-form-field class="input-form">
      <mat-label>Título</mat-label>
      <input matInput appearance="legacy" placeholder="Título" formControlName="title">
    </mat-form-field>

    <mat-form-field class="input-form">
      <mat-label>Descripción corta</mat-label>
      <textarea matInput appearance="legacy" placeholder="Descripción corta" formControlName="short_description" rows="6">
            </textarea>
    </mat-form-field>

    <mat-form-field class="input-form">
      <mat-label>Descripción</mat-label>
      <textarea matInput appearance="legacy" placeholder="Descripción" formControlName="description" rows="6">
            </textarea>
    </mat-form-field>

    <button class="btn-add"mat-raised-button color="primary" (click)="addIngredient()">Añadir ingrediente</button>

    <ng-container formArrayName="ingredients">
      <div *ngFor="let ingredient of ingredients.controls; let i=index">
        <div [formGroupName]="i">
          <mat-form-field class="input-form">
            <mat-label>Ingrediente</mat-label>
            <input matInput appearance="legacy" placeholder="Ingredientes" formControlName="name">
            <mat-icon matSuffix class="icon-delete" (click)="removeIngredient(i)">delete</mat-icon>
          </mat-form-field>
        </div>
      </div>
    </ng-container>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-raised-button (click)="close()">Close</button>
    <button mat-raised-button color="primary" (click)="save()">Añadir receta</button>
  </mat-dialog-actions>
</div>
