<app-content>
  <div class="content-detail">
    <button class="btn-back"mat-raised-button color="primary" (click)="back()">Volver</button>
    <h1>{{recipe.title}}</h1>
    <p>{{recipe.short_description}}</p>
    <img class="image" src="{{recipe.image}}">
    <h3><strong>Ingredientes</strong></h3>
    <ul>
      <li *ngFor="let ingredient of recipe.ingredients">
        {{ingredient.name}}
      </li>
    </ul>
    <h3><strong>Elaboración</strong></h3>
    <p [innerHTML]="recipe.description"></p>
  </div>
</app-content>
