/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  header,
  section {
    padding: 1rem 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  .container {
    box-sizing: border-box;
    width: 100%;
    padding: 0 1.5rem;
    margin: 0 auto;
    width: 100%;

    @media(min-width: 640px) {
      max-width: 640px;
    }

    @media(min-width: 768px) {
      max-width: 768px;
    }

    @media(min-width: 1024px) {
      max-width: 1024px;
    }

    @media(min-width: 1280px) {
      max-width: 1280px;
    }
  }

  .content {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2rem;

    @media(min-width: 640px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media(min-width: 768px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @media(min-width: 1024px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @media(min-width: 1280px) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    &-detail {
      display: block;
      width: 100%;

      @media(min-width: 1024px) {
        width: 760px;
        margin: 0 auto;
      }

      .image {
        border-radius: 1.5rem;
        margin-bottom: 0.5rem;
        width: 100%;
      }
    }
  }

  .card {
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    border-radius: 4px;

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;

      .card-header-title {
        font-size: 1.3rem;
        font-weight: 500;
        margin-bottom: 0;
      }
    }

    &-image {
      height: 200px;
      object-fit: cover;
      width: 100%;
    }

    &-body {
      padding: 1rem;
    }

    &-footer {
      padding: 1rem;
    }
  }

  .icon {
    &-delete {
      color: red;
      cursor: pointer;
    }
    &-upload {
      color: #ddd;
      cursor: pointer;
      font-size: 5rem;
      height: 5rem;
      width: 5rem;
      &:hover {
        color: #ccc;
      }
    }
  }

  .btn {
    text-transform: uppercase;
    &-add {
      margin-bottom: 1rem;
    }
    &-back {
      position: relative;
      top: 0;
      left: 0;
      margin-bottom: 1rem;

      @media(min-width: 768px) {
        position: fixed;
        top: 2rem;
        left: 2rem;
      }
    }
  }

  .truncate {
    line-height: 1.4rem;
    max-height: calc(1.4rem * 3);
    overflow: hidden;
  }

  .input-form {
    width: 100%;
  }

  .dialog {
    &-image {
      height: 12rem;
      width: 100%;
      object-fit: cover;
      &-input {
        display: none;
      }
    }
    &-upload {
      background-color: #eee;
      height: 12rem;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
